
<!DOCTYPE html>
<html>
  <head>
    <title>Standings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
      .inProgress {
        border: 5px solid black;
        border-top: 5px solid black;
      }
    </style>
  </head>
  <body>
<table class="table table-responsive table-bordered">
   <tbody>
      <tr >
         <td >Week</td>
         <td >Brian</td>
         <td >Pete</td>
         <td >Gary</td>
         <td >Naylor</td>
         <td >Dave</td>
      </tr>
      <tr >
         <th id="615284679R1"  >
            <div >1</div>
         </th>
         <td >3</td>
         <td >5</td>
         <td >4</td>
         <td >5</td>
         <td >5</td>
      </tr>
      <tr >
         <th id="615284679R2"  >
            <div >2</div>
         </th>
         <td >5</td>
         <td >4</td>
         <td >5</td>
         <td >4</td>
         <td >4</td>
      </tr>
      <tr >
         <th id="615284679R3"  >
            <div >3</div>
         </th>
         <td >9</td>
         <td >6</td>
         <td >6</td>
         <td >6</td>
         <td >4</td>
      </tr>
      <tr >
         <th id="615284679R4"  >
            <div>4</div>
         </th>
         <td >6</td>
         <td >6</td>
         <td >5</td>
         <td >2</td>
         <td >8</td>
      </tr>
      <tr >
         <th id="615284679R5"  >
            <div >5</div>
         </th>
         <td >4</td>
         <td >6.5</td>
         <td >5.5</td>
         <td >9</td>
         <td >5</td>
      </tr>
      <tr >
         <th id="615284679R6"  >
            <div >6</div>
         </th>
         <td >3</td>
         <td >4</td>
         <td >6</td>
         <td >5</td>
         <td >4</td>
      </tr>
      <tr >
         <th id="615284679R7"  >
            <div >7</div>
         </th>
         <td >5</td>
         <td >5.5</td>
         <td >5.5</td>
         <td >6.5</td>
         <td >8</td>
      </tr>
      <tr >
         <th id="615284679R8"  >
            <div >8</div>
         </th>
         <td >3</td>
         <td >9</td>
         <td >5</td>
         <td >4</td>
         <td >7</td>
      </tr>
      <tr >
         <th id="615284679R9"  >
            <div >9</div>
         </th>
         <td >3.5</td>
         <td >5.5</td>
         <td >5</td>
         <td >5</td>
         <td >5.5</td>
      </tr>
      <tr >
         <th id="615284679R10"  >
            <div >10</div>
         </th>
         <td >1.5</td>
         <td >5.5</td>
         <td >5</td>
         <td >5.5</td>
         <td >4</td>
      </tr>
      <tr >
         <th id="615284679R11"  >
            <div >11</div>
         </th>
         <td >3.5</td>
         <td >5.5</td>
         <td >6.5</td>
         <td >6.5</td>
         <td >5.5</td>
      </tr>
      <tr >
         <th id="615284679R12"  >
            <div >12</div>
         </th>
         <td >8.5</td>
         <td >10</td>
         <td >9</td>
         <td >7.5</td>
         <td >8.5</td>
      </tr>
      <tr >
         <th id="615284679R13"  >
            <div >13</div>
         </th>
         <td >8</td>
         <td >5</td>
         <td >1</td>
         <td >4</td>
         <td >6</td>
      </tr>
      <tr >
         <th id="615284679R14"  >
            <div >14</div>
         </th>
         <td >5</td>
         <td >4</td>
         <td >2</td>
         <td >9</td>
         <td >5</td>
      </tr>
      <tr >
         <th id="615284679R15"  >
            <div >15</div>
         </th>
         <td>8</td>
         <td>4.5</td>
         <td>4</td>
         <td>3.5</td>
         <td>6</td>
      </tr>
      <tr >
         <th id="615284679R16"  >
            <div >16</div>
         </th>
         <td >5</td>
         <td>3</td>
         <td>5</td>
         <td>4</td>
         <td>3</td>
      </tr>
      <tr >
         <th id="615284679R17"  >
            <div >17</div>
         </th>
         <td ></td>
         <td ></td>
         <td ></td>
         <td ></td>
         <td ></td>
         <td ></td>
      </tr>
      <tr >
         <th id="615284679R18"  >
            <div >Total</div>
         </th>
         <td >81</td>
         <td >89</td>
         <td >79.5</td>
         <td >86.5</td>
         <td >88.5</td>
      </tr>
   </tbody>
</table>
  </body>
</html>